<app-topo></app-topo>
<div *ngIf="jogoEmAndamento; else fimDeJogo">
    <app-painel (emiteEncerrarJogo)='recebeEncerrarJogo($event)'></app-painel>
</div>
<ng-template #fimDeJogo>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div *ngIf="tipoEncerramento === 'derrota'; else fimDeJogoVitoria" class="col">
                    <h3 style="color: red">Fim de Jogo. Infelizemente você perdeu</h3>
                </div>
                <ng-template #fimDeJogoVitoria>
                    <div class="col">
                        <h3 style="color: blue">Fim de Jogo. Parabéns, você Ganhou!!!!</h3>
                    </div>
                </ng-template>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary" (click)="reiniciarJogo()">Jogar Novamente</button>
            </div>
        </div>
    </div>
</ng-template>